# Change to match your CPU core count
workers 2

# Min and Max threads per worker
threads 1, 6

# Default to production
rails_env = ENV['RAILS_ENV'] || "production"
environment rails_env

# Daemonize the server into the background.The default is “false”.
daemonize true

pidfile "{{ app_directory }}/tmp/pids/puma.pid"
state_path "{{ app_directory }}/tmp/pids/puma.state"

bind "unix://{{ app_directory }}/tmp/sockets/puma.sock"
#bind 'tcp://0.0.0.0:9292'

# Logging
stdout_redirect "log/puma.stdout.log", "log/puma.stderr.log", true

activate_control_app

on_worker_boot do | worker_index |

  # write worker pid
  File.open("tmp/pids/puma_worker_#{worker_index}.pid", "w") { |f| f.puts Process.pid }  

  require "active_record"
  ActiveRecord::Base.connection.disconnect! rescue ActiveRecord::ConnectionNotEstablished
  ActiveRecord::Base.establish_connection(YAML.load_file("{{ app_directory }}/config/database.yml")[rails_env])
end


