# Ansible managed
# /etc/logrotate.d/rsyslog

/var/log/syslog
{
    weekly
    rotate 13
    size 5M
    missingok
    notifempty
    delaycompress
    compress
    create 0644 root root
    postrotate
        reload rsyslog >/dev/null 2>&1 || true
    endscript
}
